In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('/home/quentin/Documents/simplon/20210406_moteur_de_recommandation_de_livre/source/goodbooks-10k-master/book_tags.csv', index_col=False)

In [16]:
df.groupby('goodreads_book_id').head(2)

        goodreads_book_id  tag_id   count
0                       1   30574  167697
1                       1   11305   37174
100                     2   30574   24549
101                     2    8717    3516
200                     3   30574  496107
...                   ...     ...     ...
999613           32075671   33114    2010
999712           32848471   30574     102
999713           32848471   12680      80
999812           33288638   30574   14116
999813           33288638    8717    1196

[20000 rows x 3 columns]