In [1]:
import pandas as pd
import numpy as np

In [3]:
df_ratings = pd.read_csv('/home/quentin/Documents/simplon/20210406_moteur_de_recommandation_de_livre/source/goodbooks-10k-master/ratings.csv', index_col=False)

df_books = pd.read_csv('/home/quentin/Documents/simplon/20210406_moteur_de_recommandation_de_livre/source/goodbooks-10k-master/books.csv', index_col=False)

In [4]:
df_ratings.describe()

            user_id       book_id        rating
count  5.976479e+06  5.976479e+06  5.976479e+06
mean   2.622446e+04  2.006477e+03  3.919866e+00
std    1.541323e+04  2.468499e+03  9.910868e-01
min    1.000000e+00  1.000000e+00  1.000000e+00
25%    1.281300e+04  1.980000e+02  3.000000e+00
50%    2.593800e+04  8.850000e+02  4.000000e+00
75%    3.950900e+04  2.973000e+03  5.000000e+00
max    5.342400e+04  1.000000e+04  5.000000e+00

In [5]:
df_books.describe()

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn13,original_publication_year,average_rating,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5
count,10000.00000,1.000000e+04,1.000000e+04,1.000000e+04,10000.000000,9.415000e+03,9979.000000,10000.000000,1.000000e+04,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,1.000000e+04,1.000000e+04
mean,5000.50000,5.264697e+06,5.471214e+06,8.646183e+06,75.712700,9.755044e+12,1981.987674,4.002191,5.400124e+04,5.968732e+04,2919.955300,1345.040600,3110.885000,11475.893800,1.996570e+04,2.378981e+04
std,2886.89568,7.575462e+06,7.827330e+06,1.175106e+07,170.470728,4.428619e+11,152.576665,0.254427,1.573700e+05,1.678038e+05,6124.378132,6635.626263,9717.123578,28546.449183,5.144736e+04,7.976889e+04
min,1.00000,1.000000e+00,1.000000e+00,8.700000e+01,1.000000,1.951703e+08,-1750.000000,2.470000,2.716000e+03,5.510000e+03,3.000000,11.000000,30.000000,323.000000,7.500000e+02,7.540000e+02
25%,2500.75000,4.627575e+04,4.791175e+04,1.008841e+06,23.000000,9.780316e+12,1990.000000,3.850000,1.356875e+04,1.543875e+04,694.000000,196.000000,656.000000,3112.000000,5.405750e+03,5.334000e+03
50%,5000.50000,3.949655e+05,4.251235e+05,2.719524e+06,40.000000,9.780452e+12,2004.000000,4.020000,2.115550e+04,2.383250e+04,1402.000000,391.000000,1163.000000,4894.000000,8.269500e+03,8.836000e+03
75%,7500.25000,9.382225e+06,9.636112e+06,1.451775e+07,67.000000,9.780831e+12,2011.000000,4.180000,4.105350e+04,4.591500e+04,2744.250000,885.000000,2353.250000,9287.000000,1.602350e+04,1.730450e+04
max,10000.00000,3.328864e+07,3.553423e+07,5.639960e+07,3455.000000,9.790008e+12,2017.000000,4.820000,4.780653e+06,4.942365e+06,155254.000000,456191.000000,436802.000000,793319.000000,1.481305e+06,3.011543e+06

In [6]:
#df_new_books = df_books[['book_id', 'isbn13', 'original_title']]
#df_new_books.to_csv(r'books_lighter.csv', index = False)

In [7]:
df_p = df_ratings.pivot(index = 'user_id', columns ='book_id', values = 'rating')
df_p.head()

In [ ]:
for i in range (1, 10001):
    df_p[i] = df_p[i].replace(np.nan, 0)

In [3]:
df_p.head(5)

NameError: name 'df_p' is not defined

In [1]:
#df_p.columns = ['b_' + str(col) for col in df_p.columns]

In [2]:
df_p.head()

NameError: name 'df_p' is not defined

## KNN

In [16]:
# https://aman-makwana101932.medium.com/understanding-recommendation-system-and-knn-with-project-book-recommendation-system-c648e47ff4f6

In [22]:
from scipy.sparse import csr_matrix

sparse_matrix = csr_matrix(df_p.values)

In [23]:
# save csr_matrix 
import scipy.sparse
scipy.sparse.save_npz('sparse_matrix.npz', sparse_matrix)

In [24]:
mat_book_features

<53424x10000 sparse matrix of type '<class 'numpy.float64'>'
	with 5976479 stored elements in Compressed Sparse Row format>

In [25]:
from sklearn.neighbors import NearestNeighbors

In [26]:
model_knn = NearestNeighbors(metric='cosine', algorithm='brute', n_neighbors=20, n_jobs=-1).fit(mat_book_features)

## User recommendation

In [27]:
data_distance = df_p

query_index = np.random.choice(data_distance.shape[0])
print(query_index)
distances, indices = model_knn.kneighbors(data_distance.iloc[query_index,:].values.reshape(1, -1), n_neighbors = 4)

46510

In [2]:
user_selected = data_distance.index[query_index]

NameError: name 'data_distance' is not defined

In [1]:
print(user_selected)

NameError: name 'user_selected' is not defined

In [29]:
df_result = df_p.iloc[0:0]

for i in range(0, len(distances.flatten())):
    if i == 0:
        print('Nearest Neighbors for {0}:\n'.format(data_distance.index[query_index]))
        data_dis = data_distance.iloc[indices.flatten()[i]]
        #df_result = df_result.append(data_distance.index[query_index])
        
    else:
        print('{0}: {1}, with distance of {2}:'.format(i, data_distance.index[indices.flatten()[i]], distances.flatten()[i]))
        #print('Recommendations for {0}:\n'.format(us_canada_user_rating_pivot.index[indices.flatten()[i]].columns))
        data_dis = data_distance.iloc[indices.flatten()[i]]
        #print(test)
    df_result = df_result.append(data_dis)

Nearest Neighbors for 46511:

1: 13955, with distance of 0.6744548072825961:
2: 48641, with distance of 0.6804665259334954:
3: 32572, with distance of 0.6811956293673912:

In [ ]:
df_book_name = df_books[['book_id', 'original_title']]
df_book_name.head(3)

In [ ]:

df_result = df_result.loc[:, (df_result != 0).any(axis=0)]

In [ ]:
df_result.loc[:, (df_result != 0).any(axis=0)]

In [1]:
df_result_t = df_result.T

NameError: name 'df_result' is not defined

In [136]:
df_result_t

user_id  52370  49818  52603  42432
book_id
1          0.0    0.0    4.0    0.0
2          0.0    5.0    0.0    0.0
3          0.0    0.0    5.0    0.0
6          0.0    5.0    5.0    0.0
12         0.0    5.0    5.0    0.0
...        ...    ...    ...    ...
9807       4.0    0.0    0.0    0.0
9816       4.0    0.0    0.0    0.0
9893       0.0    3.0    0.0    0.0
9897       0.0    0.0    0.0    4.0
9955       3.0    0.0    0.0    0.0

[244 rows x 4 columns]

In [137]:
df_result_t.describe()

user_id       52370       49818       52603       42432
count    244.000000  244.000000  244.000000  244.000000
mean       0.905738    1.430328    1.602459    1.713115
std        1.626468    2.086421    2.124169    1.930818
min        0.000000    0.000000    0.000000    0.000000
25%        0.000000    0.000000    0.000000    0.000000
50%        0.000000    0.000000    0.000000    0.000000
75%        1.250000    4.000000    4.000000    4.000000
max        5.000000    5.000000    5.000000    5.000000

In [164]:
df_result_name = pd.merge(df_result_t, df_book_name, left_on='book_id', right_on='book_id', how='left')

# select book who doesn't have rating by our user selected
# I creat a df withe first colums have 0

df_result_name = df_result_name.loc[df_result_name[user_selected] == 0]

# Remove the first column id
df_result_name = df_result_name.iloc[:,1:]

# Remove the column user_selected 
df_result_name = df_result_name.iloc[:,1:]

df_result_name

     49818  52603  42432                            original_title
0      0.0    4.0    0.0                          The Hunger Games
1      5.0    0.0    0.0  Harry Potter and the Philosopher's Stone
2      0.0    5.0    0.0                                  Twilight
3      5.0    5.0    0.0                    The Fault in Our Stars
4      5.0    5.0    0.0                                 Divergent
..     ...    ...    ...                                       ...
233    2.0    0.0    0.0              My Life with the Walter Boys
234    0.0    5.0    0.0                           A Grimm Warning
237    0.0    0.0    4.0                                  Mad Dogs
241    3.0    0.0    0.0                          Open Road Summer
242    0.0    0.0    4.0                            Divine Madness

[182 rows x 4 columns]

In [237]:
columns_list = df_result_name.columns.values.tolist()
columns_list = columns_list[:-1]

columns_list_count = len(columns_list)
columns_list_count

3

In [243]:
# get the count of columns
columns_count = len(df_result_name.columns)

# columns -1 without book name
columns_count = 1 

# creat list for each user 


recommendation_list = []

index_list = 0


# loop on columns for each list of book recommendation
for index in [0, 1, 2]:
    for col in columns_list:
        #init col_to_list
        col_to_list = []

        # order the df by high value on current column
        df_temp = df_result_name.sort_values(by=[col], ascending=False)

        # transform current col into list
        col_to_list = df_temp['original_title'].values.tolist()
        

        #add the current col at the current index to the result list recommendation
        recommendation_list.append(col_to_list[index])


print("Voila! here are the next books to read :", recommendation_list)

Voila! here are the next books to read : ['Perfect Chemistry', "It's Not Summer Without You", "The Assassin's Blade", 'Slammed', 'The Host', 'Ignite Me (Shatter Me, #3)', 'City of Glass', 'milk and honey', 'Mistborn : The Final Empire']

In [216]:
df_result_name

     49818  52603  42432                            original_title
0      0.0    4.0    0.0                          The Hunger Games
1      5.0    0.0    0.0  Harry Potter and the Philosopher's Stone
2      0.0    5.0    0.0                                  Twilight
3      5.0    5.0    0.0                    The Fault in Our Stars
4      5.0    5.0    0.0                                 Divergent
..     ...    ...    ...                                       ...
233    2.0    0.0    0.0              My Life with the Walter Boys
234    0.0    5.0    0.0                           A Grimm Warning
237    0.0    0.0    4.0                                  Mad Dogs
241    3.0    0.0    0.0                          Open Road Summer
242    0.0    0.0    4.0                            Divine Madness

[182 rows x 4 columns]

In [217]:
# S A V E 
#
#test_18745 = df_result_name.loc[df_result_name[48404] >= 4]
#
#

In [47]:
var_a = df_result_name.loc[df_result_name[48404] >= 4]
var_a = test.sort_values(by=[48404], ascending=False)[:20]

var_b = df_result_name.loc[df_result_name[15850] >= 4]
var_b = test.sort_values(by=[15850], ascending=False)[:20]

var_c = df_result_name.loc[df_result_name[23731] >= 4]
var_c = test.sort_values(by=[23731], ascending=False)[:20]

print(var_a['original_title'])
print('\n')
print(var_a['original_title'])
print('\n')
print(var_a['original_title'])

170                                    Stone of Farewell
87                              Red Seas Under Red Skies
119                                          Ghost Story
183    To Green Angel Tower (Memory, Sorrow, and Thor...
10                                     A Game of Thrones
151                                 His Majesty's Dragon
190                                       Throne of Jade
191                                        The Confusion
99                                           White Night
140                                    Ancillary Justice
194                                      Hark! A Vagrant
195                                 The Curse of Chalion
180                                    The Black Company
80                                          Dragonflight
73                                                   NaN
179                                                  NaN
172                                          Quicksilver
207                                     Black Powder War
62                              The Lies of Locke Lamora
144                                 The Dragonbone Chair
Name: original_title, dtype: object


170                                    Stone of Farewell
87                              Red Seas Under Red Skies
119                                          Ghost Story
183    To Green Angel Tower (Memory, Sorrow, and Thor...
10                                     A Game of Thrones
151                                 His Majesty's Dragon
190                                       Throne of Jade
191                                        The Confusion
99                                           White Night
140                                    Ancillary Justice
194                                      Hark! A Vagrant
195                                 The Curse of Chalion
180                                    The Black Company
80                                          Dragonflight
73                                                   NaN
179                                                  NaN
172                                          Quicksilver
207                                     Black Powder War
62                              The Lies of Locke Lamora
144                                 The Dragonbone Chair
Name: original_title, dtype: object


170                                    Stone of Farewell
87                              Red Seas Under Red Skies
119                                          Ghost Story
183    To Green Angel Tower (Memory, Sorrow, and Thor...
10                                     A Game of Thrones
151                                 His Majesty's Dragon
190                                       Throne of Jade
191                                        The Confusion
99                                           White Night
140                                    Ancillary Justice
194                                      Hark! A Vagrant
195                                 The Curse of Chalion
180                                    The Black Company
80                                          Dragonflight
73                                                   NaN
179                                                  NaN
172                                          Quicksilver
207                                     Black Powder War
62                              The Lies of Locke Lamora
144                                 The Dragonbone Chair
Name: original_title, dtype: object

test_user_origine = test_18745.sort_values(by=[25606], ascending=False)[:20].values.tolist()

#test_18745 = test_18745[test_18745['book_id', 'original_title']]
test_user_origine['original_title']

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
#plt.scatter(df_result_t['book_id'], df_result_t[11132], c=df_result_t[11132], alpha=0.5)
#plt.figure(figsize=(20,10))
#ax = df_result_t.plot(xticks=df_result_t.index, figsize=(20,10))

#df_result_t = df_result_t[df_result_t.columns > 0]

plt.figure(figsize=(18,12))

for i in df_result_t.columns:
    ax = sns.scatterplot(data=df_result_t, x=df_result_t.index, y=i, alpha=0.5, s=200)

#ax = sns.scatterplot(data=df_result_t, x=df_result_t.index, y=11132)

In [ ]:


def plot_correlation(data):
    '''
    plot correlation's matrix to explore dependency between features 
    '''
    # init figure size
    # rcParams['figure.figsize'] = 15, 20
    fig = plt.figure(figsize=(20,10))
    sns.heatmap(data.corr(), annot=True, fmt=".2f")
    plt.show()

#plot_correlation(df_result_t)

sns.heatmap(df_result_t, annot=True, fmt=".1f")
plt.show()

## Book recommendation

In [ ]:
#df_b_reco = df_p.pivot(index = 'book_id', columns ='user_id', values = 'rating')

#df_b_reco.head()

In [ ]:
User 90 = [book_25, book_45, book_203]

- k N N - 

User 1 = [book_25]
User 47 = [book_45]
User 56 = [book_203]

AVG knn user

JMB_data / (SVD) 

book_25 = [book_25, book_13, book_05]
book_45 = [book_15, book_13, book_05]
book_203 = [book_15, book_13, book_05]

AVG book JMB_data